interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://polling.finance.naver.com/api/realtime/domestic/stock/005930
  response:
    body:
      string: "{\"pollingInterval\":7000,\"datas\":[{\"itemCode\":\"005930\",\"stockName\":\"\uC0BC\uC131\uC804\uC790\",\"stockExchangeType\":{\"code\":\"KS\",\"zoneId\":\"Asia/Seoul\",\"nationType\":\"KOR\",\"delayTime\":0,\"startTime\":\"0900\",\"endTime\":\"1530\",\"closePriceSendTime\":\"1630\",\"nameKor\":\"\uCF54\uC2A4\uD53C\",\"nameEng\":\"KOSPI\",\"nationCode\":\"KOR\",\"nationName\":\"\uB300\uD55C\uBBFC\uAD6D\",\"stockType\":\"domestic\",\"name\":\"KOSPI\"},\"closePrice\":\"211,000\",\"compareToPreviousClosePrice\":\"4,500\",\"compareToPreviousPrice\":{\"code\":\"2\",\"text\":\"\uC0C1\uC2B9\",\"name\":\"RISING\"},\"fluctuationsRatio\":\"2.18\",\"tradeStopType\":{\"code\":\"1\",\"text\":\"\uC6B4\uC601.Trading\",\"name\":\"TRADING\"},\"openPrice\":\"215,000\",\"highPrice\":\"215,500\",\"lowPrice\":\"210,000\",\"accumulatedTradingVolume\":\"23,966,133\",\"accumulatedTradingValue\":\"5,118,011\uBC31\uB9CC\",\"marketStatus\":\"CLOSE\",\"localTradedAt\":\"2026-04-15T15:30:00+09:00\",\"overMarketPriceInfo\":{\"tradingSessionType\":\"AFTER_MARKET\",\"overMarketStatus\":\"OPEN\",\"overPrice\":\"211,000\",\"openPrice\":\"212,500\",\"highPrice\":\"215,500\",\"lowPrice\":\"210,000\",\"compareToPreviousPrice\":{\"code\":\"2\",\"text\":\"\uC0C1\uC2B9\",\"name\":\"RISING\"},\"compareToPreviousClosePrice\":\"4,500\",\"fluctuationsRatio\":\"2.18\",\"localTradedAt\":\"2026-04-15T19:05:24.538599+09:00\",\"tradeStopType\":{\"code\":\"1\",\"text\":\"\uC6B4\uC601.Trading\",\"name\":\"TRADING\"},\"accumulatedTradingVolume\":\"15,714,558\",\"accumulatedTradingValue\":\"3,358,331\uBC31\uB9CC\"},\"integratedPriceInfo\":{\"openPrice\":\"212,500\",\"highPrice\":\"215,500\",\"lowPrice\":\"210,000\",\"accumulatedTradingVolume\":\"39,680,691\",\"accumulatedTradingValue\":\"8,476,342\uBC31\uB9CC\"},\"isinCode\":\"KR7005930003\",\"myDataCode\":null,\"stockEndUrl\":null,\"symbolCode\":\"005930\",\"currencyType\":{\"code\":\"KRW\",\"text\":\"Republic
        of Korea won\",\"name\":\"KRW\"},\"closePriceRaw\":\"211000\",\"compareToPreviousClosePriceRaw\":\"4500\",\"fluctuationsRatioRaw\":\"2.18\",\"openPriceRaw\":\"215000\",\"highPriceRaw\":\"215500\",\"lowPriceRaw\":\"210000\",\"accumulatedTradingVolumeRaw\":\"23966133\",\"accumulatedTradingValueRaw\":\"5118011000000\",\"marketValueFull\":\"1,233,564,786,288,000\",\"marketValueFullRaw\":\"1233564786288000\"}],\"time\":\"20260415190524\"}"
    headers:
      content-type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
