interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cmp_cd=005930
  response:
    body:
      string: "\r\n<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"
        \"http://www.w3.org/TR/html4/loose.dtd\">\r\n<html lang=\"ko\">\r\n<head>\r\n\t<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\r\n\t<title>\uC628\uB77C\uC778\uAE30\uC5C5\uC815\uBCF4
        - \uAE30\uC5C5\uBAA8\uB2C8\uD130 - \uAE30\uC5C5\uAC1C\uC694(\uC0BC\uC131\uC804\uC790)</title>\r\n\t<link
        rel=\"shortcut icon\" href=\"/favicon.ico\" />\r\n\t<script language=\"javascript\"
        src=\"/include/domain.js\" type=\"text/javascript\"></script>\r\n\t<!--[if
        (!IE) | (gt IE 8)]>\r\n    \t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1, user-scalable=no\" />\r\n    <![endif]-->\r\n\t<!--[if
        IE 6]>\r\n            <link href=\"/include/only_ie6.css\" type=\"text/css\"
        rel=\"stylesheet\"/>\r\n        <![endif]-->\r\n\t<!--[if lt IE 8]>\r\n            <link
        href=\"/include/lt_ie8.css\" type=\"text/css\" rel=\"stylesheet\"/>\r\n        <![endif]-->\r\n\t<link
        href=\"/v2/include/css?v=q7Pq73b9jj00gmFmOVUSxzXv_5FtLNW9qxkqFwJqh-g1\" rel=\"stylesheet\"/>\r\n\r\n\t<link
        href=\"/v2/include/css1?v=2Kc54WAY0-YKwI0WYHBphRe4FmbyttZ0_0A_hAhAjHc1\" rel=\"stylesheet\"/>\r\n\r\n
        \   <link href=\"/v2/include/csscrawler?v=6j20PRFQZOF_cQY1MTrT5fNOJtefGKtxcpjZjx7qRS01\"
        rel=\"stylesheet\"/>\r\n\r\n\t<script src=\"/v2/include/js?v=0c8ajiacdkv6IxVl6VTa7kCzpqvHCKHlszIi9PjnXak1\"></script>\r\n\r\n\t<link
        href=\"/v2/include/sitecss?v=NO2scjWyURrcKuALmuSFc8_aZjVlTCHcs6O-cPNOjtk1\"
        rel=\"stylesheet\"/>\r\n\r\n\t<!-- Global site tag (gtag.js) - Google Analytics
        -->\r\n\t<script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-74989022-7\"></script>\r\n\t<script>\r\n\t
        \ window.dataLayer = window.dataLayer || [];\r\n\t  function gtag(){dataLayer.push(arguments);}\r\n\t
        \ gtag('js', new Date());\r\n\r\n\t  gtag('config', 'UA-74989022-7');\r\n\t</script>\r\n</head>\r\n<body
        oncontextmenu=\"return false\">\r\n<div class=\"body-section\">\r\n\t<form
        id=\"Form1\" method=\"post\">\r\n\t\t<div id=\"all_contentWrap\">\r\n\t\t\t<!--all_contentWrap-->\r\n\t\t\t<div
        id=\"contentWrap\">\r\n\t\t\t\t<input type=\"hidden\" id=\"printZone\"><input
        type=\"hidden\" id=\"cssZone\">\r\n\t\t\t\t<!-- search -->\r\n\t\t\t\t<div
        id=\"header-menu\">\r\n\t\t\t\t\t<input name=\"hd_cmp_cd\" type=\"hidden\"
        id=\"hd_cmp_cd\" value=\"005930\" />\r\n\t\t\t\t\t<input type=\"hidden\" id=\"cmp_cd\"
        />\r\n\t\t\t\t\t<input type=\"hidden\" id=\"hidCMP_CD\" name=\"hidCMP_CD\"
        value=\"005930\" />\r\n\t\t\t\t\t<input type=\"hidden\" id=\"hiddenfinGubun\"
        value=\"IFRSL\" />\r\n\t\t\t\t\t<input type=\"hidden\" id=\"chartType\" name=\"chartType\"
        value=\"svg\" />\r\n\t\t\t\t\t\r\n<div class=\"wrapper-menu\">\r\n\t<span
        class=\"blank\"></span>\r\n\t<dl class=\"menu\">\r\n\t\t<dt class='on'><a
        href=\"../company/c1010001.aspx?cmp_cd=005930&cn=\">\uAE30\uC5C5\uD604\uD669</a>
        </dt>\r\n\t\t<dt class=' line-left'><a href=\"../company/c1020001.aspx?cmp_cd=005930&cn=\">\uAE30\uC5C5\uAC1C\uC694</a></dt>\r\n\t\t<dt
        class=' line-left'><a href=\"../company/c1030001.aspx?cmp_cd=005930&cn=\">\uC7AC\uBB34\uBD84\uC11D</a></dt>\r\n\t\t<dt
        class=' line-left'><a href=\"../company/c1040001.aspx?cmp_cd=005930&cn=\">\uD22C\uC790\uC9C0\uD45C</a></dt>\r\n\t\t<dt
        class=' line-left'><a href=\"../company/c1050001.aspx?cmp_cd=005930&cn=\">\uCEE8\uC13C\uC11C\uC2A4</a></dt>\r\n\t\t<dt
        class=' line-left'><a href=\"../company/c1060001.aspx?cmp_cd=005930&cn=\">\uC5C5\uC885\uBD84\uC11D</a></dt>\r\n\t\t<dt
        class=' line-left'><a href=\"../company/c1090001.aspx?cmp_cd=005930&cn=\">\uC139\uD130\uBD84\uC11D</a></dt>\r\n\t\t<dt
        class=' line-left'><a href=\"../company/c1070001.aspx?cmp_cd=005930&cn=\">\uC9C0\uBD84\uD604\uD669</a></dt>\r\n\t\t<dt
        class=\"right\"><a class=\"print\" href=\"javascript:winPrint('720');\"><span
        class=\"icon-sprite icon-print\"></span>\uC778\uC1C4</a></dt>\r\n\t</dl>\r\n</div>\r\n<div
        class=\"table-menu-shadow\"></div>\r\n\r\n\t\t\t\t</div>\r\n\t\t\t\t<div id=\"pArea\"
        class=\"MinWidthContainer\">\r\n\t\t\t\t\t\r\n<div class=\"wrapper-table\">\r\n\t<div
        class=\"cmp-table-div\">\r\n\t\t<table class=\"cmp-table\">\r\n\t\t\t<tr class=\"cmp-table-row\">\r\n\t\t\t\t<td
        class=\"cmp-table-cell td0101\">\r\n\t\t\t\t\t<dl>\r\n\t\t\t\t\t\t<dt>\r\n\t\t\t\t\t\t\t<span
        class=\"name\">\uC0BC\uC131\uC804\uC790</span>\r\n\t\t\t\t\t\t\t<a class=\"cEm\"
        title=\"[\uD648\uD398\uC774\uC9C0] www.samsung.com/sec\" href=\"http://www.samsung.com/sec\"
        target=\"comPage\"><img src=\"/images/icon_home.gif\" hspace=\"3\" align=\"absmiddle\"></a>\r\n\t\t\t\t\t\t\t<a
        class=\"cEm\" title=\"[\uB300\uD45C\uC804\uD654] 031-200-1114 &#13;[\uC8FC\uC2DD\uB2F4\uB2F9]
        02-2255-9000 \"><img src=\"/images/icon_tel.gif\" hspace=\"1\" align=\"absmiddle\"></a>\r\n\t\t\t\t\t\t\t<b
        class=\"num\">005930</b>\r\n\t\t\t\t\t\t</dt>\r\n\t\t\t\t\t\t<dt class=\"line-left\">SamsungElec</dt>\r\n\t\t\t\t\t\t<dt
        class=\"line-left\">KOSPI : \uCF54\uC2A4\uD53C \uC804\uAE30\xB7\uC804\uC790</dt>\r\n\t\t\t\t\t\t<dt
        class=\"line-left\">WICS : \uBC18\uB3C4\uCCB4\uC640\uBC18\uB3C4\uCCB4\uC7A5\uBE44</dt>\r\n\t\t\t\t\t</dl>\r\n\t\t\t\t</td>\r\n\t\t\t</tr>\r\n\t\t\t<tr
        class=\"cmp-table-row\">\r\n\t\t\t\t<td class=\"cmp-table-cell td0201\">\r\n\t\t\t\t\t<div>&nbsp;</div>\r\n\t\t\t\t</td>\r\n\t\t\t</tr>\r\n\t\t\t<tr
        class=\"cmp-table-row\">\r\n\t\t\t\t<td class=\"cmp-table-cell td0301\">\r\n\t\t\t\t\t<dl>\r\n\t\t\t\t\t\t\r\n\t\t\t\t\t\t<dt>EPS
        <b class=\"num\">6,564</b></dt>\r\n\t\t\t\t\t\t<dt class=\"line-left\">BPS
        <b class=\"num\">63,997</b></dt>\r\n\t\t\t\t\t\t<dt class=\"line-left\">PER
        <b class=\"num\">31.46</b></dt>\r\n\t\t\t\t\t\t<dt class=\"line-left\">\uC5C5\[...]
